#footer #visitorChat_footercontainer ul li {
    margin: 0;
    border-bottom: 0;
}

#visitorChat ul {
    margin:0;
    padding:0 5px;
}

#visitorChat ul li {
    list-style: none;
}

input, textarea, select {
    margin-top:6px;
    padding:4px;
    width:100%;
    border:1px solid #ccc;
}

#visitorChat {
    font-family: arial, tahoma, verdana, sans-serif;
    position: fixed;
    font-size: 13px;
    right: 3%;
    bottom: 0px;
    width: 214px;
    color: #000;
    background-color: transparent;
    border-radius: 3px;
    max-height: 450px;
    z-index: 1000;
}

#visitorChat_header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 24px;
    padding: 4px 5px 0px 5px;
    width: 214px;
    outline:none;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(10, 10, 10, 0.3), inset 0px 1px 0px #97df79; /*inset 0px -10px 8px rgba(111, 191, 77, 0.8);*/
    -moz-box-shadow: 0px 0px 10px -2px rgba(10, 10, 10, 0.3), inset 0px 1px 0px #97df79;
    box-shadow: 0px 0px 10px -2px rgba(10, 10, 10, 0.3), inset 0px 1px 0px #97df79;
    background: #76CC52;
    transition: all 0.12s ease-in-out;
    -moz-transition: all 0.12s ease-in-out;
    -webkit-transition: all 0.12s ease-in-out;
    -o-transition: all 0.12s ease-in-out;
    color:#fff;
    text-shadow:1px 1px 0px #60A642;
    border-bottom:1px solid #60b83b;
}

#visitorChat_header:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 6px rgba(255,255,255,.8), inset 0px 1px 0px #97df79;
    -moz-box-shadow: 0px 0px 6px rgba(255,255,255,.8), inset 0px 1px 0px #97df79;
    box-shadow: 0px 0px 6px rgba(255,255,255,.8), inset 0px 1px 0px #97df79;
    outline: none;
}

#visitorChat_header_text {
    display: inline;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    position: relative;
    top: -1px;
}

#visitorChat_header_text:before {
    margin-right:4px;
}

.offline #visitorChat_header {
    -webkit-box-shadow: 0px 0px 6px rgba(10, 10, 10, 0.3), inset 0px 1px 0px rgba(255,255,255,.4);
    -moz-box-shadow: 0px 0px 6px rgba(10, 10, 10, 0.3), inset 0px 1px 0px rgba(255,255,255,.4);
    box-shadow: 0px 0px 6px rgba(10, 10, 10, 0.3), inset 0px 1px 0px rgba(255,255,255,.4);
    background: #ccc; /*url('<?php echo \UNL\VisitorChat\Controller::$url ?>images/comment.png') no-repeat 10px 50%;*/
    transition: all 0.12s ease-in-out;
    -moz-transition: all 0.12s ease-in-out;
    -webkit-transition: all 0.12s ease-in-out;
    -o-transition: all 0.12s ease-in-out;
    color:#333;
    text-shadow:1px 1px 0px rgba(255,255,255,.6);
    border-bottom:1px solid #bbb;
}

.offline #visitorChat_header:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 6px rgba(255,255,255,.8), inset 0px 1px 0px rgba(255,255,255,.4);
    -moz-box-shadow: 0px 0px 6px rgba(255,255,255,.8), inset 0px 1px 0px rgba(255,255,255,.4);
    box-shadow: 0px 0px 6px rgba(255,255,255,.8), inset 0px 1px 0px rgba(255,255,255,.4);
    outline: none;
}

#visitorChat_logout {
    bottom: 2px;
    display: none;
    float: right;
    height: 20px;
    position: relative;
    width: 20px;
}

#visitorChat_logout:before {
    font-size: 1.1rem;
    margin-top:-3px;
}

#visitorChat_confiramtionEmail {
    width: 180px;
}

#visitorChat_confirmationContainer {
    font-size: .9em;
}

#visitorChat_confirmationEamilForm legend {
    display: none;
}

#visitorChat h2 {
    font-size: 1.1em;
    font-weight: bold;
}

#visitorChat h3 {
    font-size: 8px;
    font-weight: bold;
}

#visitorChat_logout a {
    display: inline-block;
    height: 20px;
    opacity: 0;
    text-indent: -9999px;
    width: 20px;

    /* CSS3 */
    transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -o-transition: opacity .1s ease-in-out;
    -ms-transition: opacity .1s ease-in-out;
}

#visitorChat_logout a:hover,
#visitorChat_logout a:focus {
    opacity: 1;
}

#visitorChat_container {
    background: #F8F8F8;
    background: -moz-radial-gradient(center, ellipse cover, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 0.95) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(244, 244, 244, 1)), color-stop(100%, rgba(255, 255, 255, 0.95)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 0.95) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 0.95) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 0.95) 100%);
    background: radial-gradient(center, ellipse cover, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f4f4f4', endColorstr = '#ebffffff', GradientType = 1);
    display: none;

    -webkit-box-shadow: 0px 5px 10px -2px rgba(10, 10, 10, 0.5);
    -moz-box-shadow: 0px 5px 10px -2px rgba(10, 10, 10, 0.5);
    box-shadow: 0px 5px 10px -2px rgba(10, 10, 10, 0.5);
}

#visitorchat_clientLogin {
    padding: 5px;
}

#visitorChat_chatBox {
    font-size: 12px;
    height: 300px;
    overflow: auto;
    /*padding: 6px;*/
}

#visitorChat_chatBox ul li {
    border-bottom: 1px solid #ddd;
    color: #555;
    padding: 6px 8px;
    text-shadow: 0 1px white;
    line-height: 125%;
}

.visitorChat_them {
    background-color: white;
    font-weight: bold;
}

#visitorChat_chatBox ul li .stamp {
    color: #aaa;
    display: block;
    font-size: 11px;
    font-weight: normal;
    opacity: .65;
    padding-left: 1em;
}

#visitorChat_chatBox ul li .timestamp {
    color: #aaa;
    float: right;
    font-size: 0.75em;
    font-weight: normal;
    margin-right: 5px;
    opacity: 0;
}

#visitorChat_messageBox {
    font-size:13px;
    border: 1px solid #CCCCCC;
    margin: 5px 0;
    padding: 2px;
    overflow-y: auto;
    resize: none;
    height: 61px;
    width: 100%;
}

.visitorChat_center {
    text-align: center;
    border-bottom: transparent !important;
}

.visitorChat_info {
    display: none;
    border-bottom: transparent !important;
}

#visitorChat_login_submit {
    background: -moz-linear-gradient(top, #EFECE9 0%, #F2F1ED 50%, #E7E4E3 51%, #E4E0DD 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EFECE9), color-stop(50%, #F2F1ED), color-stop(51%, #E7E4E3), color-stop(100%, #E4E0DD));
    background: -webkit-linear-gradient(top, #EFECE9 0%, #F2F1ED 50%, #E7E4E3 51%, #E4E0DD 100%);
    background: -o-linear-gradient(top, #EFECE9 0%, #F2F1ED 50%, #E7E4E3 51%, #E4E0DD 100%);
    background: -ms-linear-gradient(top, #EFECE9 0%, #F2F1ED 50%, #E7E4E3 51%, #E4E0DD 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#EFECE9', endColorstr = '#E4E0DD', GradientType = 0);
    background: linear-gradient(top, #EFECE9 0%, #F2F1ED 50%, #E7E4E3 51%, #E4E0DD 100%);
    border: 1px solid #CCC;
    border-bottom: 1px solid #BBB;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #333;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    padding: 8px 0;
    text-align: center;
    text-shadow: 0 1px 0 #EEE;
    width: 100%;
    display: none;
}

#visitorChat_login_submit:hover {
    background: -moz-linear-gradient(top, #E5E2DF 0%, #F2F1ED 50%, #E7E4E3 51%, #E4E0DD 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E5E2DF), color-stop(50%, #F2F1ED), color-stop(51%, #E7E4E3), color-stop(100%, #E4E0DD));
    background: -webkit-linear-gradient(top, #E5E2DF 0%, #F2F1ED 50%, #E7E4E3 51%, #E4E0DD 100%);
    background: -o-linear-gradient(top, #E5E2DF 0%, #F2F1ED 50%, #E7E4E3 51%, #E4E0DD 100%);
    background: -ms-linear-gradient(top, #E5E2DF 0%, #F2F1ED 50%, #E7E4E3 51%, #E4E0DD 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#E5E2DF', endColorstr = '#E4E0DD', GradientType = 0);
    background: linear-gradient(top, #E5E2DF 0%, #F2F1ED 50%, #E7E4E3 51%, #E4E0DD 100%);
    border: 1px solid #BBB;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #DDD;
    display: block;
}

#visitorChat_login_submit:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -moz-box-shadow: inset 0 0 3px 2px #ccc, 0 1px 0 0 #eee;
    -webkit-box-shadow: inset 0 0 3px 2px #ccc, 0 1px 0 0 #eee;
    box-shadow: inset 0 0 3px 2px #ccc, 0 1px 0 0 #eee;
}

.unl_visitorchat_form legend {
    text-align:left;
    line-height: 16px;
    line-height: 1rem;
    padding:0 5px;
}

.unl_visitorchat_submit {
    display: none;
}

#visitorChat_url {
    display: none;
}

#chat_button img {
    vertical-align: bottom;
}

.visitorChat_loading {
    background: url("<?php echo \UNL\VisitorChat\Controller::$url ?>images/ajax.gif");
    background-repeat: no-repeat;
    background-position: 50% 70%;
    min-height: 50px;
}

.chat_notify {
    padding: 20px 5px;
    text-align: center;
}

/* Validation Stylings */

#visitorChat_footercontainer .validation-advice, #visitorChat .validation-advice {
    border-top: transparent !important;
}

#visitorChat_footercontainer .validation-advice li, #visitorChat .validation-advice li, #visitorchat_clientLogin_anonwaning {
    background: rgb(251, 236, 93); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(251, 236, 93, 1) 33%, rgba(252, 209, 22, 1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(33%, rgba(251, 236, 93, 1)), color-stop(99%, rgba(252, 209, 22, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(251, 236, 93, 1) 33%, rgba(252, 209, 22, 1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(251, 236, 93, 1) 33%, rgba(252, 209, 22, 1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(251, 236, 93, 1) 33%, rgba(252, 209, 22, 1) 99%); /* IE10+ */
    background: linear-gradient(top, rgba(251, 236, 93, 1) 33%, rgba(252, 209, 22, 1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fbec5d', endColorstr = '#fcd116', GradientType = 0); /* IE6-9 */

    -webkit-box-shadow: 0px 2px 4px 0px #ccc;
    -moz-box-shadow: 0px 2px 4px 0px #ccc;
    box-shadow: 0px 2px 4px 0px #ccc;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 10px;
    margin: 8px 0 !important;
    padding: 5px;
    text-align: center;

    text-shadow: 0 1px rgba(255, 255, 255, 0.95);
}

#visitorChat_footercontainer #visitorChat_container {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    background: #E3E3E3;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#visitorChat_footercontainer .advice-validate-email::after, #visitorChat .advice-validate-email::after {
    bottom: 2.95em;
    right: 10px;
    border-width: 0 10px 10px;
    border-color: #FBEC5D transparent;
    content: "";
    position: relative;
    border-style: solid;
    display: inline-block;
    width: 0;
}

#visitorChat_footercontainer .advice-required-entry::after, #visitorChat .advice-required-entry::after {
    bottom: 15px;
    right: 130px;
    border-width: 0 10px 10px;
    border-color: #FBEC5D transparent;
    content: "";
    position: relative;
    border-style: solid;
    display: inline-block;
    width: 0;
}

#visitorChat_email_fallback {
    float: left;
}

#visitorChat_email_fallback_text {
    display: block;
    font-size: 11px;
    line-height: 130%;
    text-align: center;
}

#visitorChat_footercontainer {
    background: #E3E3E3;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    display: none;
}

#visitorChat_closed {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.25) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.25)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.25) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.25) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.25) 100%);
    background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.25) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00000000', endColorstr = '#59000000', GradientType = 0);
    padding-bottom: 15px;
    text-shadow: 0 1px rgba(255,255,255,.85);
}

/* hide all email related settings for now */
#visitorChat_email_fallback, #visitorChat_email_fallback_text {
    display: none;
}

@media (min-width: 600px) {
    #visitorChat_footercontainer {
        display: block;
    }
}

/* IE tweaks */
.ie8 #wdn_footer_feedback form {
    display: block;
}

#VisitorChat_captcha_container {
    padding: 5px;
}

#VisitorChat_captcha_img {
    width: 175px;
    height: 75px;
    border: 1px solid #000;
    margin-right: 5px
}

.VisitorChat_captcha_supportImg {
    width: 15px;
    height: 15px;
}

/*
  Labels for WCAG 2.0 validation (hide them because we provide them inline).
*/
#visitorchat_clientLogin label, #visitorChat_messageForm label, #visitorChat_confirmationEamilForm label {
    line-height: 0;
    position: absolute;
    text-indent: -99999em;
}

#clientInfo {
    display: none;
}

#visitorChat fieldset{
     margin: 0;
     padding: 0;
     border:0;
 }

#visitorChat_methods {
    padding: 2px;
    text-align: center;
    background-color: #F1F1F1;
    width: 100%;
    border-top: 1px solid #000;
}
