// !Framework Mixins
@import (reference) 'mixins/breakpoints';
@import (reference) 'mixins/colors';
@import (reference) 'mixins/fonts';
@import (reference) 'mixins/functions';
@import (reference) 'mixins/vars';


#visitorChat {
  background-color: #10669d;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(10,10,10,.25);
  color: #424240;
  .sans-serif-font();
  max-width: 17.713em;
  position: fixed;
  right: calc(~'1.333em + 1vw');
  transition: background-color .3s ease-out;
  z-index: 999;
}


@supports (filter: drop-shadow(0 1px 3px rgba(71,71,70,.25))) {

  #visitorChat {
    box-shadow: none;
    filter: drop-shadow(0 0 5px fadeout(@ui09,75%)) drop-shadow(0 0 1px fadeout(@ui09,40%));
  }

}


#visitorChat::after {
  border-color: #10669d transparent transparent transparent;
  border-style: solid;
  border-width: .75em 0 .75em .75em;
  content: '';
  position: absolute;
  right: 1.333em;
  top: 100%;
  z-index: 299;
}


#visitorChat.online {
  background-color: @triad;
}


#visitorChat.online #visitorChat_header_text,
#visitorChat.online #visitorChat_logout {
  color: #fefdfa;
}


#visitorChat.online::after {
  border-color: @triad transparent transparent transparent;
}


#visitorChat h2 {
  border-top: 1px solid #10669d;
  .sans-serif-font();
  font-size: 1em;
  line-height: 1.425;
  margin-bottom: .75em;
  padding-top: .75em;
}


#visitorChat h3 {
	font-size: .75em;
}


#visitorChat li {
  list-style: none;
  margin-top: .563em;
  margin-bottom: .563em;
}


#visitorChat fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}


#visitorChat legend {
  border: 0;
  margin: 0;
  padding: 0;
  text-transform: none;
}


#visitorChat label,
#visitorChat input[type='email'],
#visitorChat input[type='text'],
#visitorChat textarea,
#visitorChat select {
  display: block;
}


#visitorChat label {
  font-size: .75em;
  line-height: 1.333;
  margin-bottom: .317em;
}


#visitorChat input[type='email'],
#visitorChat input[type='text'],
#visitorChat textarea,
#visitorChat select {
  appearance: none;
  padding: .563em;
}


#visitorChat #visitorChat_messageForm label[for='visitorChat_messageBox'] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


#visitorChat_header {
  outline: none;
}


#visitorChat_header:hover {
  cursor: pointer;
}


#visitorChat_header:focus #visitorChat_header_text {
  outline: thin dotted currentColor;
}


#visitorChat_logout {
  display: none;
}


#visitorChat_logout:focus {
  outline: thin dotted currentColor;
}


.online #visitorChat_logout:focus {
  outline: thin dotted #fff;
}


#dcf-footer #visitorChat_logout [class*='wdn-icon-'] {
  display: block;
  padding-left: 0;
}


#dcf-footer #visitorChat_logout [class*='wdn-icon-']::before {
  font-size: .75em;
  margin-right: 0;
  position: relative;
  top: 0;
}


#visitorChat_container:focus,
#visitorChat_conversation:focus,
#visitorChat_confirmationContainer:focus,
.chat_notify {
  outline: 0;
}


#visitorChat #visitorChat_conversation_header {
  display: none;
}


#visitorChat_container {
  background-image: linear-gradient(to bottom, @ui01 0%, @ui03 60%);
  margin-bottom: .56em;
  padding: 1em;
  position: relative;
}


#visitorChat_chatBox {
  font-size: .935em;
  height: 14.204rem;
  margin-bottom: .75em;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  z-index: 0;
}


#visitorChat_chatBox ul {
	padding: 0 1em 0 0;
}


#visitorChat_chatBox li {
  border-radius: 3px;
  line-height: 1.425;
  margin-bottom: 1em;
  padding: .75em 1em;
  position: relative;
  width: calc(~'100% - 1em');
}


#visitorChat_chatBox li::after {
  border-style: solid;
  bottom: 0;
  content: '';
  position: absolute;
  transform: translateY(100%);
}


#visitorChat_chatBox li .timestamp,
#visitorChat_chatBox li .stamp {
  display: block;
  font-size: .75em;
  padding-top: 0.422em;
}


#visitorChat_chatBox li .timestamp {
  float: right;
  padding-left: 1em;
}


.unl .dcf-footer #visitorChat_chatBox a,
.unl .dcf-footer #visitorChat_chatBox a:link {
  color: #d00000;
}


.unl .dcf-footer #visitorChat_chatBox a:visited,
.unl .dcf-footer #visitorChat_chatBox a:hover,
.unl .dcf-footer #visitorChat_chatBox a:active {
  color: #9e0900;
}


.force-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}


.visitorChat_me,
.visitorChat_them {
  background-color: #fff;
}


.visitorChat_me {
  float: right;
}


.visitorChat_me::after {
  border-color: #fff transparent transparent transparent;
  border-width: .75em 0 .75em .75em;
  right: 1em;
}


.visitorChat_them {
  float: left;
}


.visitorChat_them::after {
  border-color: #fff transparent transparent transparent;
  border-width: .75em .75em .75em 0;
  left: 1em;
}


#visitorChat_messageBox {
  line-height: 1.425;
  overflow-y: auto;
  resize: none;
}


#visitorChat_login_submit,
#visitorChat_message_submit,
#visitorChat_confirmEmail_submit {
  margin-top: .75em;
  padding: .8em 1em .75em;
  white-space: normal;
}


#visitorChat_footerHeader, // legend
.chat_notify,
.welcome-message {
  line-height: 1.425;
}


.welcome-message {
	margin-top: 0;
}


#clientInfo,
#visitorChat_url,
#visitorChat_confirmationEmailForm legend,
.unl_visitorchat_submit,
.visitorChat_info {
	display: none;
}


#chat_button img {
  vertical-align: bottom;
}


.visitorChat_loading {
  background-image: url('<?php echo \UNL\VisitorChat\Controller::$url ?>images/ajax.gif');
  background-position: 50% 0;
  background-repeat: no-repeat;
  padding-top: 1.777em;
}


#visitorChat_confirmationContainer {
  margin-top: .75em;
}


/* Validation Stylings */
#visitorChat .validation-advice li,
#visitorchat_clientLogin_anonwaning {
  font-size: .75em;
  line-height: 1.333;
}


#visitorchat_clientLogin_anonwaning {
  color: @energetic;
}


#visitorChat_email_fallback {
  float: left;
}


#visitorChat_email_fallback_text {
  padding-left: 1rem;
}


/* hide all email related settings for now */
#visitorChat_email_fallback,
#visitorchat_clientLogin #visitorChat_email_fallback_text {
  display: none;
}


// !Captcha
#visitorChat_captchaForm a {
  float: right;
}


#visitorChat_captchaForm strong {
  font-size: .75em;
  font-weight: normal;
}


#visitorChat_captchaForm input[type='submit'] {
  margin-top: 1.333em;
}


#VisitorChat_captcha_img {
  border: 1px solid #10669d;
  margin-bottom: .317em;
  width: 100%;
}


#visitorChat_methods {
  bottom: 1.333rem;
  font-size: .75em;
  position: absolute;
  right: 1.333rem;
}


#visitorChat_methods_email,
#visitorChat_methods_chat,
#visitorChat_sendAnotherConfirmation,
#visitorChat_failedOptions button {
  background-color: transparent;
  border-color: transparent transparent currentColor transparent;
  border-style: dotted;
  border-width: 1px;
  color: @scarlet;
  line-height: normal;
  padding: 0;
}


#visitorChat_methods_email:focus,
#visitorChat_methods_chat:focus,
#visitorChat_sendAnotherConfirmation:focus,
#visitorChat_failedOptions button:focus {
  border-color: currentColor;
  outline: 0;
}


#visitorChat_sendAnotherConfirmation {
  margin-top: .75em;
}


#visitorChat_failedOptions {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}


#visitorChat_sound_container {
  height: 0;
}


#visitorChat_is_typing {
  font-size: .75em;
}


// !Media Queries
@media (max-width: 56.11em) {

  #visitorChat {
    bottom: 5.21em; // 4.21em (height of mobile toolbar) + 1em (allow room for chat balloon arrow)
    visibility: hidden;
  }

  #visitorChat.visitorChat_open {
    visibility: visible;
  }

}


@media (min-width: 600px) { // ?

  #visitorChat_footercontainer {
    display: block;
  }

}


@media (min-width: 56.12em) {

  #visitorChat {
    bottom: 1em;
  }

}
