/////////
// CLIENT
/////////


#visitorChat {
  background-color: var(--bg-dialog);
  border-radius: 3px;
  color: var(--body);
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, .1)) drop-shadow(1px 1px 30px rgba(0, 0, 0, .1));
  max-width: 17.76em;
  right: calc(~'1.333em + 1vw');
  z-index: 99999;
}


#visitorChat::after {
  border-color: var(--bg-dialog) transparent transparent transparent;
  border-style: solid;
  border-width: .75em 0 .75em .75em;
  content: '';
  position: absolute;
  right: 1.33em;
  top: 100%;
  z-index: 299;
}


#visitorChat.online {
  background-color: #00784e;
}


#visitorChat.online #visitorChat_header_text,
#visitorChat.online #visitorChat_logout {
  color: #fefdfa;
}


#visitorChat.online::after {
  border-color: #00784e transparent transparent transparent;
}


#visitorChat h2 {
  border-top: 1px solid var(--b);
  font-size: 1em;
  line-height: 1.43;
  margin-bottom: .75em;
  padding-top: .75em;
}


#visitorChat h3 {
	font-size: .75em;
}


#visitorChat li {
  list-style: none;
  margin-bottom: .56em;
}


#visitorChat_header {
  outline: none;
}


#visitorChat_header:hover {
  cursor: pointer;
}


#visitorChat_header:focus #visitorChat_header_text {
  outline: thin dotted currentColor;
}


#visitorChat_logout {
  display: none;
}


#visitorChat_logout:focus {
  outline: thin dotted currentColor;
}


.online #visitorChat_logout:focus {
  outline: thin dotted #fff;
}


#visitorChat_container:focus,
#visitorChat_conversation:focus,
#visitorChat_confirmationContainer:focus,
.chat_notify {
  outline: 0;
}


#visitorChat #visitorChat_conversation_header {
  display: none;
}


#visitorChat_chatBox {
  height: 14.2rem;
}


#visitorChat_chatBox ul {
	padding-right: 1em; // Account for vertical scroll bar
}


#visitorChat_chatBox li {
  border-radius: 3px;
  margin-bottom: 1.33em;
  padding: .75em 1em;
  position: relative;
  width: calc(~'100% - 1em');
}


// Conversation bubble arrow
#visitorChat_chatBox li::after {
  border-style: solid;
  bottom: 1px; // Overlap 1px to ensure there is no gap between bubble and arrow
  content: '';
  position: absolute;
  transform: translateY(100%);
}


.unl .dcf-footer #visitorChat_chatBox a,
.unl .dcf-footer #visitorChat_chatBox a:link {
  color: var(--link);
}


.unl .dcf-footer #visitorChat_chatBox a:visited {
  color: var(--visited);
}


.unl .dcf-footer #visitorChat_chatBox a:hover {
  color: var(--hover);
}


.unl .dcf-footer #visitorChat_chatBox a:active {
  color: var(--active);
}


.force-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}


.visitorChat_me,
.visitorChat_them {
  background-color: var(--bg-dialog);
}


.visitorChat_me {
  float: right;
}


.visitorChat_me::after {
  border-color: var(--bg-dialog) transparent transparent transparent;
  border-width: .75em 0 .75em .75em;
  right: 1em;
}


.visitorChat_them {
  float: left;
}


.visitorChat_them::after {
  border-color: var(--bg-dialog) transparent transparent transparent;
  border-width: .75em .75em .75em 0;
  left: 1em;
}


#visitorChat_messageBox {
  overflow-y: auto;
  resize: none;
}


.welcome-message {
	margin-top: 0;
}


#clientInfo,
#visitorChat_url,
.unl_visitorchat_submit,
.visitorChat_info {
	display: none;
}


#chat_button img {
  vertical-align: bottom;
}


.visitorChat_loading {
  background-image: url('<?php echo \UNL\VisitorChat\Controller::$url ?>images/ajax.gif');
  background-position: 50% 0;
  background-repeat: no-repeat;
  padding-top: 1.78em;
}


// Validation stylings
#visitorChat .validation-advice li,
#visitorchat_clientLogin_anonwaning {
  font-size: .75em;
}


// Override display of icon font in form validation
#visitorChat ul.validation-advice li::before {
  content: '' !important;
  margin-right: 0 !important;
  width: 0 !important;
}


#visitorchat_clientLogin_anonwaning {
  color: #e72c0c;
}


#visitorChat_email_fallback {
  float: left;
}


#visitorChat_email_fallback_text {
  padding-left: 1rem;
}


/* hide all email related settings for now */
#visitorChat_email_fallback,
#visitorchat_clientLogin #visitorChat_email_fallback_text {
  display: none;
}


// !Captcha
#visitorChat_captchaForm a {
  float: right;
}


#visitorChat_captchaForm strong {
  font-size: .75em;
  font-weight: normal;
}


#visitorChat_captchaForm input[type='submit'] {
  margin-top: 1.33em;
}


#VisitorChat_captcha_img {
  border: 1px solid var(--b);
  margin-bottom: .32em;
  width: 100%;
}


#visitorChat_methods {
  bottom: 1.33rem;
  font-size: .75em;
  position: absolute;
  right: 1.33rem;
}


#visitorChat_methods_email,
#visitorChat_methods_chat {
  background-color: transparent;
  border: 0;
  color: var(--link);
  line-height: normal;
  padding: 0;
  text-decoration: underline;
}


#visitorChat_methods_email:hover,
#visitorChat_methods_chat:hover {
  color: var(--hover);
}


#visitorChat_methods_email:active,
#visitorChat_methods_chat:active {
  color: var(--active);
}


#visitorChat_sound_container {
  height: 0;
}


#visitorChat_is_typing {
  font-size: .75em;
}


// !Media Queries
@media (max-width: 56.11em) {

  #visitorChat {
    bottom: 5.21em; // 4.21em (height of mobile toolbar) + 1em (allow room for chat balloon arrow)
    visibility: hidden;
  }

  #visitorChat.visitorChat_open {
    visibility: visible;
  }

}


@media (min-width: 600px) { // ?

  #visitorChat_footercontainer {
    display: block;
  }

}


@media (min-width: 56.12em) {

  #visitorChat {
    bottom: 1em;
  }

}
