#visitorChat {
  position: fixed;
  right: calc(1.333em + 1vw);
  bottom: 1em;
  max-width: 17.713em;
  z-index: 300;
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(10, 10, 10, 0.25);
  transition: background-color 0.3s ease-out;
}
@supports not(right: calc(1.333em + 1vw)) {
  #visitorChat {
    right: 1.333em;
  }
}
@supports (filter: drop-shadow(0 1px 3px rgba(71, 71, 70, .25))) {
  #visitorChat {
    box-shadow: none;
    filter: drop-shadow(0 0 5px rgba(71, 71, 70, 0.25)) drop-shadow(0 0 1px rgba(71, 71, 70, 0.6));
  }
}
#visitorChat:after {
  content: '';
  position: absolute;
  top: 100%;
  right: 1.333em;
  z-index: 299;
  border-style: solid;
  border-width: .75em 0 .75em .75em;
  border-color: #137cbd transparent transparent transparent;
}
#visitorChat.offline {
  background-color: #d5d5d2;
  transition: background-color 0.3s ease-out;
}
#visitorChat.offline:after {
  border-color: #d5d5d2 transparent transparent transparent;
  transition: border-color 0.3s ease-out;
}
#visitorChat.online {
  background-color: #137cbd;
  transition: background-color 0.3s ease-out;
}
#visitorChat.online:after {
  border-color: #137cbd transparent transparent transparent;
  transition: border-color 0.3s ease-out;
}
#visitorChat:hover.offline {
  background-color: #c4c3bf;
  transition: background-color 0.3s ease-out;
}
#visitorChat:hover.offline:after {
  border-color: #c4c3bf transparent transparent transparent;
  transition: border-color 0.3s ease-out;
}
#visitorChat:hover.online {
  background-color: #10679d;
  transition: background-color 0.3s ease-out;
}
#visitorChat:hover.online:after {
  border-color: #10679d transparent transparent transparent;
  transition: border-color 0.3s ease-out;
}
#visitorChat h2 {
  margin-bottom: .75em;
  padding-top: .75em;
  font-size: 1em;
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.425;
  border-top: 1px solid #d5d5d2;
}
#visitorChat h3 {
  font-size: .75em;
}
#visitorChat ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#visitorChat li {
  list-style: none;
  margin-top: .563em;
  margin-bottom: .563em;
}
#visitorChat fieldset {
  margin: 0;
}
#visitorChat legend {
  margin: 0;
  padding: 0;
  border: 0;
  text-transform: none;
}
#visitorChat label,
#visitorChat input[type='email'],
#visitorChat input[type='text'],
#visitorChat textarea,
#visitorChat select {
  display: block;
}
#visitorChat label {
  margin-bottom: .317em;
  font-size: .75em;
  line-height: 1.333;
}
#visitorChat input[type='email'],
#visitorChat input[type='text'],
#visitorChat textarea,
#visitorChat select {
  padding: .563em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
#visitorChat #visitorChat_messageForm label[for='visitorChat_messageBox'] {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
#visitorChat_header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  padding: .75em 1.333em;
  line-height: 1;
  outline: none;
}
#visitorChat_header:hover {
  cursor: pointer;
}
.offline #visitorChat_header {
  color: #474746;
}
.online #visitorChat_header {
  color: #fff;
}
#visitorChat_header_text {
  text-transform: uppercase;
}
#visitorChat_header:focus #visitorChat_header_text {
  outline: thin dotted currentColor;
}
#visitor-chat-header-options {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1;
}
#visitorChat_logout {
  display: none;
  padding: .75em 1.333em .75em .422em;
  border: 0;
  background-color: transparent;
}
#visitorChat_logout:focus {
  outline: thin dotted currentColor;
}
.online #visitorChat_logout:focus {
  outline: thin dotted #fff;
}
#visitorChat_logout [class*='wdn-icon-'] {
  display: block;
  padding-left: 0;
}
#visitorChat_logout [class*='wdn-icon-']:before {
  position: relative;
  top: 0;
  margin-right: 0;
  font-size: .75em;
}
.offline #visitorChat_logout [class*='wdn-icon-']:before {
  color: #474746;
}
.online #visitorChat_logout [class*='wdn-icon-']:before {
  color: #fff;
}
#visitorChat_container:focus,
#visterChat_conversation:focus,
#visitorChat_confirmationContainer:focus,
.chat_notify:focus {
  outline: 0;
}
#visitorChat_container {
  position: relative;
  margin-bottom: .563em;
  padding: 1em 1.333em;
  background: linear-gradient(to bottom, #f9f8f5 0%, #eae9e6 60%);
}
#visitorChat_chatBox {
  position: relative;
  height: 14.204rem;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 0;
  margin-bottom: .75em;
  font-size: .935em;
}
#visitorChat_chatBox ul {
  padding: 0 1em 0 0;
}
#visitorChat_chatBox li {
  position: relative;
  width: calc(100% - 1em);
  margin-bottom: 1em;
  padding: .75em 1em;
  line-height: 1.425;
  border-radius: 3px;
}
#visitorChat_chatBox li:after {
  content: '';
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  border-style: solid;
}
#visitorChat_chatBox li .timestamp,
#visitorChat_chatBox li .stamp {
  display: block;
  padding-top: 0.422em;
  font-size: .75em;
}
#visitorChat_chatBox li .timestamp {
  float: right;
  padding-left: 1em;
}
.visitorChat_me,
.visitorChat_them {
  background-color: #fff;
}
.visitorChat_me {
  float: right;
}
.visitorChat_me:after {
  right: 1em;
  border-width: .75em 0 .75em .75em;
  border-color: #fff transparent transparent transparent;
}
.visitorChat_them {
  float: left;
}
.visitorChat_them:after {
  left: 1em;
  border-width: .75em .75em .75em 0;
  border-color: #fff transparent transparent transparent;
}
#visitorChat_messageBox {
  overflow-y: auto;
  resize: none;
  line-height: 1.425;
}
#visitorChat_login_submit,
#visitorChat_message_submit,
#visitorChat_confirmEmail_submit {
  margin-top: .75em;
  padding: .8em 1em .75em;
  white-space: normal;
}
#visitorChat_footerHeader,
.chat_notify,
.welcome-message {
  line-height: 1.425;
}
.welcome-message {
  margin-top: 0;
}
#clientInfo,
#visitorChat_url,
#visitorChat_confirmationEmailForm legend,
.unl_visitorchat_submit,
.visitorChat_info {
  display: none;
}
#chat_button img {
  vertical-align: bottom;
}
.visitorChat_loading {
  padding-top: 1.777em;
  background-image: url('<?php echo \UNL\VisitorChat\Controller::$url ?>images/ajax.gif');
  background-repeat: no-repeat;
  background-position: 50% 0;
}
#visitorChat_confirmationContainer {
  margin-top: .75em;
}
/* Validation Stylings */
#visitorChat .validation-advice li,
#visitorchat_clientLogin_anonwaning {
  font-size: .75em;
  line-height: 1.333;
}
#visitorchat_clientLogin_anonwaning {
  color: #d4440b;
}
#visitorChat_email_fallback {
  float: left;
}
#visitorChat_email_fallback_text {
  padding-left: 1rem;
}
/* hide all email related settings for now */
#visitorChat_email_fallback,
#visitorchat_clientLogin #visitorChat_email_fallback_text {
  display: none;
}
#visitorChat_captchaForm a {
  float: right;
}
#visitorChat_captchaForm strong {
  font-size: .75em;
  font-weight: normal;
}
#visitorChat_captchaForm input[type='submit'] {
  margin-top: 1.333em;
}
#VisitorChat_captcha_img {
  width: 100%;
  margin-bottom: .317em;
  border: 1px solid #d5d5d2;
}
#visitorChat_methods {
  position: absolute;
  right: 1.333rem;
  bottom: 1.333rem;
  font-size: .75em;
}
#visitorChat_methods_email,
#visitorChat_methods_chat,
#visitorChat_sendAnotherConfirmation,
#visitorChat_failedOptions button {
  padding: 0;
  line-height: normal;
  color: #d00000;
  border-width: 1px;
  border-style: dotted;
  border-color: transparent transparent currentColor transparent;
  background-color: transparent;
}
#visitorChat_methods_email:focus,
#visitorChat_methods_chat:focus,
#visitorChat_sendAnotherConfirmation:focus,
#visitorChat_failedOptions button:focus {
  outline: 0;
  border-color: currentColor;
}
#visitorChat_sendAnotherConfirmation {
  margin-top: .75em;
}
#visitorChat_failedOptions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1em;
}
#visitorChat_sound_container {
  height: 0;
}
#visitorChat_is_typing {
  font-size: .75em;
}
@media (min-width: 600px) {
  #visitorChat_footercontainer {
    display: block;
  }
}
@media  (min-width: 48em) {
  #visitorChat {
    font-size: .802rem;
  }
  #visitorChat_header_text {
    font-size: .75rem;
  }
}
@media print {
  #visitorChat {
    display: none;
  }
}
