@import url("share.css");
@import url("chosen.css");

/* #clientChat #visitorChat_container {
    width: 700px;
}
*/

#maincontent
#clientChat ul,
#maincontent
#clientList ul {
	padding: 0;
	list-style: none;
}

#notificationOptions {
    display: none;
}

#leaveConversation {
    display: none;
}

#share_to_chzn {
    width: 320px !important;
}

.chzn-drop {
    width: 318px !important;
}

#share_to_chzn input {
    width: 270px !important;
}

#visitorChat_header {
	display: inline;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 18px;
	letter-spacing: -0.04em;
    background-color: #B70302;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #fff;
    height:20px;
    padding:5px 25px;	/* first number same as clientChat margin-top */
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    width: 250px;
    margin-right: 5px;
}

#clientChatContainer {
    width: 723px;
    min-height: 485px;
    border-left: 5px solid #eee;
    border-right: 5px solid #eee;
    margin-top: 5px;    /* Same number as first value in header padding */
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
}

#clientChat {
    float:left;
    width:485px;
    height: 100%;
}

#clientChatInfoContainer {
    float:left;
    width:220px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-top: 64px;
    min-height: 200px;
    
    border-left: 3px solid #eee;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
    
}

#visitorChat_chatBox {
	margin: 5px 0;
	margin-top: -10px;
	padding: 0 5px;
    overflow: auto;
    height: 350px;
    
}

#operatorOptions {
	display: block;
	margin-bottom: 5px;
}

#maincontent
#visitorChat_InvitationList,
#maincontent
#visitorChat_InvitationList ul {
	list-style: none;
	padding: 0;
}

#maincontent
#visitorChat_InvitationList .userAddress {
    font-weight: normal;
	font-size: 9px;
	/*color: #AAA;*/
	display: block;
	margin-top: -0.4em;
	margin-bottom: 0.8em;
}

#maincontent
#visitorChat_InvitationList .timestamp {
    float: right;
	font-size: 0.8em;
}

#maincontent
#visitorChat_InvitationList > li {
	box-shadow: 0px 3px 18px -7px black;
	margin: 0 9px 9px;
	padding: 2px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#visitorChat_InvitationList li .name {
	font-weight: bold;
}

#visitorChat_InvitationList li .sub {
	display: block;
	font-weight: normal;
	font-size: 0.85em;
}

#visitorChat_InvitationList .completed {
    background: #a5e17a;
	background: -moz-linear-gradient(top,  #a5e17a 0%, #77cb52 100%);
	background: -webkit-gradient(linear, left top, left bottom,
		color-stop(0%,#a5e17a), color-stop(100%,#77cb52));
	background: -webkit-linear-gradient(top,  #a5e17a 0%,#77cb52 100%);
	background: -o-linear-gradient(top,  #a5e17a 0%,#77cb52 100%);
	background: -ms-linear-gradient(top,  #a5e17a 0%,#77cb52 100%);
	background: linear-gradient(top,  #a5e17a 0%,#77cb52 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(
		startColorstr='#a5e17a', endColorstr='#77cb52',GradientType=0 );
	border: 1px solid #77cb52;
	color: #0A7561;
	text-shadow: 0 1px #D0E4C7;
}

#visitorChat_InvitationList .searching {
    background: #f7f76e;
	background: -moz-linear-gradient(top,  #f7f76e 0%, #ecec13 100%);
	background: -webkit-gradient(linear, left top, left bottom,
		color-stop(0%,#f7f76e), color-stop(100%,#ecec13));
	background: -webkit-linear-gradient(top,  #f7f76e 0%,#ecec13 100%);
	background: -o-linear-gradient(top,  #f7f76e 0%,#ecec13 100%);
	background: -ms-linear-gradient(top,  #f7f76e 0%,#ecec13 100%);
	background: linear-gradient(top,  #f7f76e 0%,#ecec13 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(
		startColorstr='#f7f76e', endColorstr='#ecec13',GradientType=0 );
    border: 1px solid #ECEC13;
	color: #646419;
	text-shadow: 0 1px #FCFCCF;
}

#visitorChat_InvitationList .failed {
    background: #e57979;
	background: -moz-linear-gradient(top,  #e57979 0%, #d84848 100%);
	background: -webkit-gradient(linear, left top, left bottom,
		color-stop(0%,#e57979), color-stop(100%,#d84848));
	background: -webkit-linear-gradient(top,  #e57979 0%,#d84848 100%);
	background: -o-linear-gradient(top,  #e57979 0%,#d84848 100%);
	background: -ms-linear-gradient(top,  #e57979 0%,#d84848 100%);
	background: linear-gradient(top,  #e57979 0%,#d84848 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(
		startColorstr='#e57979', endColorstr='#d84848',GradientType=0 );
	border: 1px solid #d84848;
	color: white;
	text-shadow: 0 1px #AD1F1F;
	
}

#maincontent
#visitorChat_InvitationList > li > ul {
	margin-top: 0.4em;
}

#maincontent
#visitorChat_InvitationList > li > ul > li {
	-webkit-border-radius: 5em;
	border-radius: 5em;
	box-shadow: 0 1px 10px -4px black;
	margin-bottom: 4px;
	padding: 0 8px;
	width: 200px;
	margin-left: -11px;
}

#maincontent
#visitorChat_InvitationList > li > ul > .accepted {
    background-color: #77CB52;
	border: 1px solid #A5E17A;
	color: white;
	text-shadow: 0 1px #4C952D;
}



#maincontent
#visitorChat_InvitationList > li > ul > .pending {
    background-color: #F7F76E;
    border: 1px solid #ECEC13;
	color: #646419;
	text-shadow: 0 1px #FCFCCF;
	text-align: right;
}

#maincontent
#visitorChat_InvitationList > li > ul > .pending:before {
    content: "inviting...";
	font-size: 0.8em;
	float: left;
}

#maincontent
#visitorChat_InvitationList > li > ul > .expired,
#maincontent
#visitorChat_InvitationList .rejected {   
    background-color: #D84848;
    border: 1px solid #E68989;
	color: white;
	text-align: right;
	text-shadow: 0 1px #AD1F1F;
}

#maincontent
#visitorChat_InvitationList > li > ul > .expired:before {
    content: "expired";
	font-size: 0.8em;
	float: left;
}

#maincontent
#visitorChat_InvitationList > li > ul > .rejected:before {
    content: "rejected";
	font-size: 0.8em;
	float: left;
}

#maincontent
#visitorChat_InvitationList > li > ul > .left {
    background-color: #DADADA;
	border: 1px solid #E4E4E4;
	color: #555;
	text-shadow: 0 1px #F0F0F0;
	text-align: right;
}

#maincontent
#visitorChat_InvitationList > li > ul > .left:before {
    content: "left";
	font-size: 0.8em;
	float: left;
}

#visitorChat_chatBox ul li {
	padding: 6px 6px 6px 20px;
	text-shadow: 0 1px white;
	line-height: 130%;
	list-style: none;
	margin-bottom: 1px;
}

.visitorChat_client {
	border-left: 4px solid #76CC52;
	font-weight: bold;
}

.visitorChat_me {
	background-color: #f8f8f8;
	border-left: 4px solid #fff;
}

.visitorChat_them {
	border-left: 4px solid #e0e0e0;
}

#visitorChat_chatBox ul li .stamp {
	color: #aaa;
	display: block;
	font-size: 11px;
	font-weight: normal;
	padding-left: 1em;
	padding-top: 0.35em;
}

#visitorChat_chatBox ul li .timestamp {
	color: #ccc;
	float: right;
	font-size: 0.8em;
	font-weight: normal;
	margin-right: 5px;
}

.unl_visitorchat_submit {
	border: 3px solid white;
	color: white;
	cursor: pointer;
	font-size: 1.5em;
	margin: 0px 12px 10px 20px;
	padding: 10px 16px;
	width: auto;
	min-height: 49px;
	-moz-border-radius: 9px/10px;
	-webkit-border-radius: 9px 10px;
	border-radius: 9px/10px;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	display: block;
	box-shadow: 0 0 6px #ccc;
}

#visitorChat_messageBox {
	border-color: #CdCdCd;
    display: block;
    margin: 0 9px;
    padding: 2px;
    overflow-y: auto;
    resize: none;
    height: 61px;
    width: 456px;
}

#visitorChat_messageForm fieldset { /* For Sumbit button */
	/*display: inline;*/
}

#visitorChat_rightSide {
    width: 190px;
    height: 492px;
    border-left: 3px solid #eee;
    float: right;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
	padding: 4px 10px;
}

#visitorChat_rightSide h2 {
	padding-top: 2px;
}

#clientList {

}

#clientList ul li {
	margin-bottom: 0.35em;
}

#chatRequestCountDown {
    color: red;
}

#chatRequest {
    display: none;
}

.loading {
    background: url("../images/ajax.gif");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}

#visitorChat_conversation_header {
	width: 705px;
	height: 40px;
	margin-left: 5px;
    margin-bottom: 23px;
	padding: 4px;
    border-bottom: 2px solid #eee;
}

#visitorChat_url {
    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 580px;
}

#maincontent
#toggleOperatorStatus {
	color: white !important;
	display: block;
	margin-left: 766px;
    width: 190px;
}

.closed {
	background-color: #BC4F4D;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BC4F4D), color-stop(100%, #A53230));
    background-image: -webkit-linear-gradient(top, #BC4F4D, #A53230);
    background-image: -moz-linear-gradient(top, #BC4F4D, #A53230);
    background-image: -ms-linear-gradient(top, #BC4F4D, #A53230);
    background-image: -o-linear-gradient(top, #BC4F4D, #A53230);
    background-image: linear-gradient(top, #BC4F4D, #A53230);
    border: 1px solid #A53230;
    border-bottom: 1px solid #992E2C;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #C96E6C, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    -moz-box-shadow: inset 0 1px 0 0 #C96E6C, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    box-shadow: inset 0 1px 0 0 #C96E6C, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    font: bold 14px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 7px 0 8px 0;
    text-align: center;
    text-shadow: 0 -1px 0 #8E2220;
    width: 150px;
}
/*
.closed:hover {
    background-color: #B24947;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #B24947), color-stop(100%, #9B302E));
    background-image: -webkit-linear-gradient(top, #B24947, #9B302E);
    background-image: -moz-linear-gradient(top, #B24947, #9B302E);
    background-image: -ms-linear-gradient(top, #B24947, #9B302E);
    background-image: -o-linear-gradient(top, #B24947, #9B302E);
    background-image: linear-gradient(top, #B24947, #9B302E);
    -webkit-box-shadow: inset 0 1px 0 0 #BC6765, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    -moz-box-shadow: inset 0 1px 0 0 #BC6765, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    box-shadow: inset 0 1px 0 0 #BC6765, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    cursor: pointer;
}

.closed:active {
    border: 1px solid #992E2C;
    border-bottom: 1px solid #892826;
    -webkit-box-shadow: inset 0 0 8px 4px #892A29, 0 1px 0 0 #eeeeee, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    -moz-box-shadow: inset 0 0 8px 4px #892A29, 0 1px 0 0 #eeeeee, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    box-shadow: inset 0 0 8px 4px #892A29, 0 1px 0 0 #eeeeee, 0px 0px 8px 0px rgba(200, 200, 200, 1);
}
*/
.open {
    background-color: #7FBF4D;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7FBF4D), color-stop(100%, #63A62F));
    background-image: -webkit-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: -moz-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: -ms-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: -o-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: linear-gradient(top, #7FBF4D, #63A62F);
    border: 1px solid #63A62F;
    border-bottom: 1px solid #5B992B;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #96ca6d, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    -moz-box-shadow: inset 0 1px 0 0 #96ca6d, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    box-shadow: inset 0 1px 0 0 #96ca6d, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    font: bold 14px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 7px 0 8px 0;
    text-align: center;
    text-shadow: 0 -1px 0 #4C9021;
    width: 150px;
}

#toggleOperatorStatus:hover {
	background: #b2b2b2;
	background: -moz-linear-gradient(top,  #b2b2b2 0%, #9b9b9b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2b2b2), color-stop(100%,#9b9b9b));
	background: -webkit-linear-gradient(top,  #b2b2b2 0%,#9b9b9b 100%);
	background: -o-linear-gradient(top,  #b2b2b2 0%,#9b9b9b 100%);
	background: -ms-linear-gradient(top,  #b2b2b2 0%,#9b9b9b 100%);
	background: linear-gradient(top,  #b2b2b2 0%,#9b9b9b 100%);
	border: 1px solid #9b9b9b;
	border-bottom: 1px solid #999;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#9b9b9b',GradientType=0 );
    -webkit-box-shadow: inset 0 1px 0 0 #BCBCBC, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    -moz-box-shadow: inset 0 1px 0 0 #BCBCBC, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    box-shadow: inset 0 1px 0 0 #BCBCBC, 0px 0px 8px 0px rgba(200, 200, 200, 1);
	text-shadow: 0 -1px 0 #8E8E8E;
    cursor: pointer;
}

#toggleOperatorStatus:active {
    border: 1px solid #999;
    border-bottom: 1px solid #898989;
    -webkit-box-shadow: inset 0 0 8px 4px #898989, 0 1px 0 0 #eeeeee, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    -moz-box-shadow: inset 0 0 8px 4px #898989, 0 1px 0 0 #eeeeee, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    box-shadow: inset 0 0 8px 4px #898989, 0 1px 0 0 #eeeeee, 0px 0px 8px 0px rgba(200, 200, 200, 1);
}

#visitorChat_closed {
	color: #DF0101;
	position: absolute;
	left: 20%;
	top: 25%;
	font-size: 14px;
	display: block;
	border: 1px solid #f2f2f2;
	padding: 10px 35px;
	border-radius: 5px;
	text-shadow: 0 1px white;
	background: white;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 1)), color-stop(100%,rgba(242, 242, 242, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(242, 242, 242, 1) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(242, 242, 242, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(242, 242, 242, 1) 100%);
	background: linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(242, 242, 242, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
	-webkit-box-shadow: 0px 2px 5px 1px rgba(20, 20, 20, 0.1);
	-moz-box-shadow: 0px 2px 5px 1px rgba(20, 20, 20, 0.1);
	box-shadow: 0px 2px 5px 1px rgba(20, 20, 20, 0.1);
}

#notificationOptions {
	margin-top: 30px;
}

#visitorChat_url_title {
	color: #535353;
	display: inline-block;
	font-size: 1.35em;
	font-weight: bold;
	margin-bottom: 0.3em;
}

#visitorChat_conversation_options {
	display: inline;
	float: right;
}

#visitorChat_sitesWarning {
	margin-top: 5px;
}

#visitorChat_sitesWarning li {
	margin-left: 25px;
	font-size: 12px;
	list-style-type: circle;
	margin-top: 3px;
}

#visitorChat_brightBox {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 1px 2px 24px -2px #555;
    display: none;
    padding: 18px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top:-200px;
    margin-left: -180px;
    width: 320px;
    z-index: 100;
}

#visitorChat_backDrop {
    cursor: pointer;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #000000;
    opacity: .35;
    filter:progid:DXImageTransform.Microsoft.BasicImage(opacity=.7);
}

#visitorChat_url_operatorList {
    display: inline;
}

#visitorChat_url_operatorList li {
    display: inline-block;
	list-style-type: circle;
	margin-left: 2px;
	margin-right: 2px;
	/*
	background-color: #00A8FF;
	border-radius: 2px;
	padding: 1px 2px;
	color: white;
	text-shadow: 0 1px 2px #006FA6;
	box-shadow: inset 0px 5px 8px -4px #a8e2ff;
	*/
}

#maincontent
.visitorChat_topicPage {
	background-color: #C50202;
	color: white;
	padding: 1px 3px;
	text-shadow: 0 1px 1px #8D0101;
	border-radius: 3px;
	box-shadow: inset 0px 5px 10px -4px #FECDCD;
}

#maincontent
.visitorChat_topicPage:hover {
	text-shadow: 0 -1px 1px #8D0101;
	box-shadow: inset 0px -5px 10px -4px #FECDCD;
	color: white;
}

#visitorChat_brightBox ul li {
	list-style-type: none;
}

.faq dt {
    font-weight: bold;
	font-size: 18px;
	line-height: 115%;
	letter-spacing: -0.06em;
	text-shadow: 1px 1px white, 2px 1px 2px rgba(183, 3, 2, 0.4);
}

.faq dd {
    background-color: #fafafa;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	margin: 0.8em 0 1.6em;
	padding: 0.5em 1.6em 0 !important;
	text-shadow: 0 1px white;
}