/* #clientChat #visitorChat_container {
    width: 700px;
}
*/

#maincontent
#clientChat ul,
#maincontent
#clientList ul {
	padding: 0;
	list-style: none;
	
}

#notificationOptions {
    display: none;
}

#visitorChat_header {
	display: inline;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 18px;
	letter-spacing: -0.04em;
    background-color: #B70302;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #fff;
    height:20px;
    padding:5px 25px;	/* first number same as clientChat margin-top */
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    width: 250px;
    margin-right: 5px;
}

#clientChat {
    width: 678px;
    height: 490px;
    border-left: 5px solid #eee;
    margin-top: 5px;	/* Same number as first value in header padding */
    -moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
	padding: 5px;
}

#visitorChat_chatBox {
    margin:5px 0 ;
    overflow: auto;
    height: 350px;
}

#operatorOptions {
	display: block;
	margin-bottom: 5px;
}

#visitorChat_chatBox ul li {
	border-bottom: 1px solid #fff;
	padding: 6px 6px 6px 20px;
	text-shadow: 0 1px white;
	line-height: 130%;
	list-style: none;
}

.visitorChat_client {
	border-left: 4px solid #76CC52;
	font-weight: bold;
}

.visitorChat_me {
	background-color: #f8f8f8;
	border-left: 4px solid #fff;
}

.visitorChat_them {
	border-left: 4px solid #e0e0e0;
}

#visitorChat_chatBox ul li .stamp {
	color: #aaa;
	display: block;
	font-size: 11px;
	font-weight: normal;
	padding-left: 1em;
	padding-top: 0.35em;
}

#visitorChat_chatBox ul li .timestamp {
	color: #ccc;
	float: right;
	font-size: 0.8em;
	font-weight: normal;
	margin-right: 5px;
}

.unl_visitorchat_submit {
	border: 3px solid white;
	color: white;
	cursor: pointer;
	font-size: 1.5em;
	margin: 0px 12px 10px 20px;
	padding: 10px 16px;
	width: auto;
	min-height: 49px;
	-moz-border-radius: 9px/10px;
	-webkit-border-radius: 9px 10px;
	border-radius: 9px/10px;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	display: block;
	box-shadow: 0 0 6px #ccc;
}

#visitorChat_messageBox {
	border-color: #CCC;
	display: block;
	margin: 12px 24px 0px;
	padding: 2px;
	resize: none;
	width: 524px;
}

#visitorChat_messageForm fieldset { /* For Sumbit button */
	/*display: inline;*/
}

#visitorChat_rightSide {
    width: 200px;
    height: 492px;
    border-left: 3px solid #eee;
    float: right;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
	padding: 4px 10px;
}

#visitorChat_rightSide h2 {
	padding-top: 2px;
}

#clientList {

}

#clientList ul li {
	margin-bottom: 0.35em;
}

#chatRequestCountDown {
    color: red;
}

#chatRequest {
    display: none;
}

.loading {
    background: url("../images/ajax.gif");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}

#visitorChat_conversation_header {
	display: block;
	height: 50px;
	margin-bottom: 5px;
	margin-left: 24px;
}

#visitorChat_url {
	display: inline;
	float: left;
}

#maincontent
#toggleOperatorStatus {
	color: white !important;
	display: block;
	margin-left: 800px;
}

.closed {
	background-color: #BC4F4D;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BC4F4D), color-stop(100%, #A53230));
    background-image: -webkit-linear-gradient(top, #BC4F4D, #A53230);
    background-image: -moz-linear-gradient(top, #BC4F4D, #A53230);
    background-image: -ms-linear-gradient(top, #BC4F4D, #A53230);
    background-image: -o-linear-gradient(top, #BC4F4D, #A53230);
    background-image: linear-gradient(top, #BC4F4D, #A53230);
    border: 1px solid #A53230;
    border-bottom: 1px solid #992E2C;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #C96E6C, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    -moz-box-shadow: inset 0 1px 0 0 #C96E6C, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    box-shadow: inset 0 1px 0 0 #C96E6C, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    font: bold 14px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 7px 0 8px 0;
    text-align: center;
    text-shadow: 0 -1px 0 #8E2220;
    width: 150px;
}

.closed:hover {
    background-color: #B24947;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #B24947), color-stop(100%, #9B302E));
    background-image: -webkit-linear-gradient(top, #B24947, #9B302E);
    background-image: -moz-linear-gradient(top, #B24947, #9B302E);
    background-image: -ms-linear-gradient(top, #B24947, #9B302E);
    background-image: -o-linear-gradient(top, #B24947, #9B302E);
    background-image: linear-gradient(top, #B24947, #9B302E);
    -webkit-box-shadow: inset 0 1px 0 0 #BC6765, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    -moz-box-shadow: inset 0 1px 0 0 #BC6765, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    box-shadow: inset 0 1px 0 0 #BC6765, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    cursor: pointer;
}

.closed:active {
    border: 1px solid #992E2C;
    border-bottom: 1px solid #892826;
    -webkit-box-shadow: inset 0 0 8px 4px #892A29, 0 1px 0 0 #eeeeee, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    -moz-box-shadow: inset 0 0 8px 4px #892A29, 0 1px 0 0 #eeeeee, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    box-shadow: inset 0 0 8px 4px #892A29, 0 1px 0 0 #eeeeee, 0px 0px 8px 0px rgba(200, 200, 200, 1);
}

.open {
    background-color: #7FBF4D;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7FBF4D), color-stop(100%, #63A62F));
    background-image: -webkit-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: -moz-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: -ms-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: -o-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: linear-gradient(top, #7FBF4D, #63A62F);
    border: 1px solid #63A62F;
    border-bottom: 1px solid #5B992B;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #96ca6d, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    -moz-box-shadow: inset 0 1px 0 0 #96ca6d, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    box-shadow: inset 0 1px 0 0 #96ca6d, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    font: bold 14px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 7px 0 8px 0;
    text-align: center;
    text-shadow: 0 -1px 0 #4C9021;
    width: 150px;
}

.open:hover {
    background-color: #76B347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76B347), color-stop(100%, #5E9E2E));
    background-image: -webkit-linear-gradient(top, #76B347, #5E9E2E);
    background-image: -moz-linear-gradient(top, #76B347, #5E9E2E);
    background-image: -ms-linear-gradient(top, #76B347, #5E9E2E);
    background-image: -o-linear-gradient(top, #76B347, #5E9E2E);
    background-image: linear-gradient(top, #76B347, #5E9E2E);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    -moz-box-shadow: inset 0 1px 0 0 #8dbf67, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    box-shadow: inset 0 1px 0 0 #8dbf67, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    cursor: pointer;
}

.open:active {
    border: 1px solid #5B992B;
    border-bottom: 1px solid #538C27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee, 0px 0px 8px 0px rgba(200, 200, 200, 1);
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee, 0px 0px 8px 0px rgba(200, 200, 200, 1);
}

#visitorChat_closed {
	color: #DF0101;
	position: absolute;
	left: 20%;
	top: 25%;
	font-size: 14px;
	display: block;
	border: 1px solid #f2f2f2;
	padding: 10px 35px;
	border-radius: 5px;
	text-shadow: 0 1px white;
	background: white;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 1)), color-stop(100%,rgba(242, 242, 242, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(242, 242, 242, 1) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(242, 242, 242, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(242, 242, 242, 1) 100%);
	background: linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(242, 242, 242, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
	-webkit-box-shadow: 0px 2px 5px 1px rgba(20, 20, 20, 0.1);
	-moz-box-shadow: 0px 2px 5px 1px rgba(20, 20, 20, 0.1);
	box-shadow: 0px 2px 5px 1px rgba(20, 20, 20, 0.1);
}

#notificationOptions {
	margin-top: 30px;
}

#visitorChat_url_title {
	color: #535353;
	display: inline-block;
	font-size: 1.35em;
	font-weight: bold;
	margin-bottom: 0.3em;
}

#visitorChat_conversation_options {
	display: inline;
	float: right;
}

#visitorChat_sitesWarning {
	margin-top: 5px;
}

#visitorChat_sitesWarning li {
	margin-left: 25px;
	font-size: 12px;
	list-style-type: circle;
	margin-top: 3px;
}

#visitorChat_brightBox {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 1px 2px 24px -2px #555;
    display: none;
    padding: 18px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top:-200px;
    margin-left: -180px;
    width: 320px;
    z-index: 100;
}

#visitorChat_backDrop {
    cursor: pointer;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #000000;
    opacity: .35;
    filter:progid:DXImageTransform.Microsoft.BasicImage(opacity=.7);
}